.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.search-button:hover {
  border: 1px solid white;
}

.profile-list{
  padding: 1em !important;
}

.profile-list:hover {
  background-color: black;
  transition: ease-in 0.3s;
}
